*{
    margin:0px;
    padding:0px;
}
body{
    font-family: 'gabarito','sans-serif';
}
.navbar{
    padding:10px;
    display: flex;
    justify-content: space-between;
    border-bottom:solid black 1px;
    gap:10px;
    align-items: center;
    position: sticky;
    top:0px;
    background-color: white;
    z-index:1;

} 
.navbar__s1__title{ 
    color:#892DE1;
} 
 .navbar__s2{
     padding: 10px;
     border:solid black 1px;
     border-radius: 30px;
     width: 60%; 
     display: flex;
     gap:10px;
     align-items: center;
     

} 
.navbar__s2 input{
    border:none;
    width: 100%;
    font-size: 16px;
    /* background-color: transparent; */
}
.navbar__s2 input:focus{
    outline:none;
}
.navbar__s3{
    display: flex;
    gap:20px;
    align-items: center;
}
.navbar__s4{
    display:none;
}
    /* my learning popup */
.mylearning{
    position: relative;
    cursor: pointer;

}
.mylearning__popup{
    position: absolute;
    background-color: white;
    /* border:solid black 2px; */
    border-radius: 20px;
    width:200px;
    padding:5px;
    right:0;
    top:150%;
    display:none; 
}
.mylearning:hover .mylearning__popup {
    display: block;
}
.mylearning__popup button{
    padding: 5px;
    background-color: #892DE1;
    border: none;
    border-radius: 5px;
    margin-top : 5px;
} 
  /* categories block */
.categories{
    display: flex; 
    padding:10px;
    border-bottom:solid black 1px;
    justify-content: space-around;
}
.categories p{
    background-color: #892DE1;
    color: white;
    padding:10px;
    border-radius: 30px;
    border: solid #892DE1 1px;
    cursor: pointer;
}
.categories p:hover{
    transition:1s;
    background-color: #892DE1 ;
    /* color:#4F1106; */
    color:#F7C81A; 
    border: solid grey 1px;
    
}
.sale-image{
    position: relative;
}
.sale-image img{
    width:100%;
    display:block;
    height: auto;
}
.sale-image__offer{
    border:solid white 5px;
    background-color: white;
    width: 35%;
    /* height:20%; */
    padding:2%;
    position:absolute;
    top:10%;
    left:5%; 
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    
}  
@keyframes zoom {
    0%{
       transform: scale(0);
       opacity:0;
    }
    100%{
        transform: scale(1);
        opacity:1; 

    }
}
.sale-image__title{
    font-size: 20px;
    margin-bottom: 5px;
}
.sale-image__offer button{
    margin-top: 5px;
    padding: 5px;
    border:none;
    background-color:#C2E9EB;
    font-size: medium;
    font-weight: bold;
    color: black;
    border-radius: 20px;
}
.recommended{
    padding:10px;

}
.recommended__container{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top:10px;
}
.course-card{
    flex-grow:1;
    flex-basis: 20%;
    margin:10px;

    /* width: 270px; */
}
.course-card img{
    width: 100%;
    height:60%;
}
.topics{
    margin-top: 10px;
    padding:10px;
}
.topics__container{
    display:flex;
    gap:10px;
    margin-top: 20px;
    flex-wrap:wrap;
    

}
.topics__container p{
    padding: 10px;
    border: solid grey 1px;
    flex-grow: 1;
    flex-basis: 25%;
    
}
.popular{
    padding:10px;
}
.popular__containner{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;;
}
.footer{
    padding:30px;
    background-color: black;
    color:white;
   
}
.footer__one{
    display: flex;
     gap:10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    margin:20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

/* media queries */

@media screen and (max-width:900px) {
    body{
        font-size: 14px;
    }
}

@media screen and (max-width:600px) {
     .sale-image__offer p{
         display: none; 
    } 
    .sale-image__title{
        font-size: 12px; 
    }
    
    .course-card {
        flex-basis: 40%;
        

    }
    .categories{
        display:none;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    .navbar__s4{
        display: block;
    }
}